<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>AngularJS | Welcome!</title>

		<script src="node_modules/angular/angular.js"></script>
		<script src="node_modules/angular-route/angular-route.js"></script>
		<script src="controller.js"></script>
		<!-- <link rel="stylesheet" href="css/main.min.css" /> -->

	</head>
	<body ng-app="mainApp">
		<div id="searchBoxes">
			Global search: <input type="text" ng-model="globalSearch.$"><br>
			Name search: <input type="text" ng-model="globalSearch.Name"><br>
			Age search: <input type="text" ng-model="globalSearch.Age"><br>
			Color search: <input type="text" ng-model="globalSearch.FavColor"><br>
		</div>
		<div ng-controller="people">
			<h2>Names and age of programmers in the local area</h2>
			<ul>
				<li ng-repeat="person in people | filter: globalSearch">
					Name: {{person.Name}}, Age: {{person.Age}}, Favourite color: {{person.FavColor}}
				</li>
			</ul>
		</div>
	</body>
</html>
